<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Login</title>
<!-- Required meta tags -->

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!--Mis estilos-->
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<div th:insert="fragments/nav :: header"></div>
	<div th:insert="fragments/nav :: navUser"></div>
	<section class="container-fluid mt-4 center">
		<div class="row justify-content-center">
			<h3>Introduzca sus datos para acceder al área de gestión</h3>
		</div>
		<div class="row justify-content-center">
			<form class="loginform" th:action="@{/login}" method="post">
				<fieldset>
					<label for="usuario">Usuario:&nbsp&nbsp&nbsp</label> <input
						type="text" id="username" name="username" placeholder="Username"
						required autofocus><br> <br> <label
						for="password">Password:</label> <input type="password"
						name="password" id="password" placeholder="Password" required><br>
					<br>
					<div class="form-actions">
						<input type="submit" name="enviar" value="Enviar" /><br> <br>

						<a th:href="@{/registro}">Registrarse como hermano</a>
					</div>
				</fieldset>
			</form>
		</div>
	</section>
	<div th:insert="fragments/nav :: footer"></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>