<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Quienes somos</title>
<!-- Required meta tags -->

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!--mis estilos-->
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<div th:insert="fragments/nav :: header"></div>
	<div th:insert="fragments/nav :: navUser"></div>
	<section class="container-fluid mt-4 center">
		<div class="row justify-content-center">
			<div class="row">
				<div class="col-12">
					<h1>QUIENES SOMOS</h1>
					<h3>Nuestra Hermandad</h3>
					<p>Somos una Hermandad de Penitencia radicada en el barrio de
						Triana en Sevilla.</p>
					<p>Nuestra pricipal actividad es atender.</p>
					<p>dlfkjq ñqlk kl jqhglk jglkjs blkjg bql kjqglqkg jbrql kjqb
						lkjgblkjr bl kjbr lewkj bl kjbh lkjew bl kjblkjb lerw.</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="card m-3 bg-info col-12 col-md-3">
				<img class="card-img-top mx-auto" src="img/tau.jpg" alt="Tau">
				<div class="card-body">
					<h4 class="card-title">COMUNIDAD FRANCISCANA</h4>
					<p class="card-text">La Hermandad de la Soledad y la Comunidad
						Franciscana van unidas de la mano, es por ello por lo que deseamos
						darle un apartado muy importante a la misma. Su labor pastoral es
						muy importante y te proponemos que la conozcas.</p>
				</div>
			</div>
			<div class="card m-3 bg-info col-12 col-md-3">
				<img class="card-img-top mx-auto" src="img/emblema.jpg"
					alt="Emblema">
				<div class="card-body">
					<h4 class="card-title">HORARIO DE MISAS</h4>
					<p class="card-text">
						A partir del sábado 16 de junio y hasta el sábado 06 de octubre<br />LABORABLES:<br />Mañana:
						12.00 horas. Tarde: 20:30 horas.<br />SÁBADO Y VÍSPERAS DE
						FESTIVOS:<br />Mañana: 12:00 horas. Tarde: 20:30 horas.<br />DOMINGO
						Y FESTIVOS:<br />Mañana: 12:00 horas. Tarde: 19:30 y 20:30 horas.
					</p>
				</div>
			</div>
		</div>
	</section>
	<div th:insert="fragments/nav :: footer"></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>