<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Hermanos</title>
<!-- Required meta tags -->

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css">
<!--Mis estilos-->
<link rel="stylesheet" href="../../static/css/styles.css"
	th:href="@{/css/styles.css}" />


</head>
<body>
	<div th:replace="fragments/nav :: header"></div>
	<div th:replace="fragments/nav :: navAdmin"></div>

	<div class="row">
		<div class="col">
			<h2>Listado de Hermanos Histórico</h2>
			<table id="hermanosTabla" class="table table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Teléfono</th>
						<th>Móvil</th>
						<th>Email</th>
						<th>Fecha de Alta</th>
						<th>Fecha de Baja</th>
						<th>Operaciones</th>
					</tr>
				</thead>
				<tr th:each="hermanoHist : ${listaHermanoHist}">
					<td th:text="${hermanoHist.nombre}"></td>
					<td th:text="${hermanoHist.apellidos}"></td>
					<td th:text="${hermanoHist.telefono}"></td>
					<td th:text="${hermanoHist.movil}"></td>
					<td th:text="${hermanoHist.email}"></td>
					<td th:text="${#temporals.format(hermanoHist.fechaAlta, 'dd-MMM-yyyy')}"></td>
					<td th:text="${#temporals.format(hermanoHist.fechaBaja, 'dd-MMM-yyyy')}"></td>
					<td><a href="#"
						th:href="@{/admin/reactivarHnoHist/{id}(id=${hermanoHist.id})}"
						onclick="return confirm('¿ESTÁ SEGURO DE VOLVER A ACTIVAR ESTE HERMANO?');">Reactivar</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

<div th:insert="fragments/nav :: footer"></div>
	<!-- Optional JavaScript -->
	<!--Datatables-->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="/webjars/jquery/3.4.1/jquery.js"></script>
	<script type="text/javascript" charset="utf8"
		src="/webjars/datatables/1.10.19/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8"
		src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.js"></script>

	<script type="text/javascript" src="/js/datatable.js"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>