<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Nuevo puesto</title>
<!-- Required meta tags -->

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!--Mis estilos-->
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<div th:insert="fragments/nav :: header"></div>
	<div th:insert="fragments/nav :: navAdmin"></div>

	<h3>Datos del puesto en la cofradía</h3>

<!-- 	<form th:action="@{/nuevopuesto/submit}" th:object="${puesto}" -->
<!-- 		method="post"> -->
		<form
		th:action="${puesto.id != 0} ? @{/admin/editarpuesto/submit} : @{/admin/nuevopuesto/submit}"
		th:object="${puesto}" method="post">
		<input th:if="${puesto.id != 0}" type="hidden" name="id"
			th:field="*{id}" />
		<table>
			<tr>
				<td><label for="nombre">Nombre</label></td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>
			<tr>
				<td><label for="numero">Número</label></td>
				<td><input type="number" th:field="*{numero}" /></td>
			</tr>
			<tr>
				<td><label for="precio">Precio</label></td>
				<td><input type="text" th:field="*{precio}" /></td>
			</tr>
			<tr>
				<td><label for="paso">Paso</label></td>
				<td><input type="text" th:field="*{paso}" /></td>
			</tr>
			<tr>
				<td><label for="destacado">Destacado</label></td>
				<td><input type="checkbox" th:field="*{esDestacado}" /></td>
			</tr>
			<tr>
				<td><input type="submit" name="Enviar" value="Enviar datos" /></td>
			</tr>
		</table>
	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>