<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Datos del hermano</title>
<!-- Required meta tags -->

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!--Mis estilos-->
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<header class="jumbotron text-warning text-right mb-0">
		<h1 class="display-4">Editar perfil</h1>
	</header>
	<div th:insert="fragments/nav :: navUser"></div>

	<form
		th:action="${hermano.id != 0} ? @{/user/editarHno/submit} : @{/user/nuevoHno/submit}"
		th:object="${hermano}" method="post">
		<input th:if="${hermano.id != 0}" type="hidden" name="id"
			th:field="*{id}" />
		
		<fieldset>
			<legend class="text-warning">Datos personales</legend>
			<label for="numHermano">Número de hermano:&nbsp;&nbsp;</label><input readonly type="number" th:field="*{numHermano}"placeholder="Se asignará automáticamente"/>
			<label for="fechaNacimiento">Fecha de nacimiento:&nbsp;&nbsp;</label><input type="date" th:field="*{fechaNacimiento}"  required/><br><br>
			<label for="nombre">Nombre:&nbsp;&nbsp;</label><input type="text" th:field="*{nombre}"  required/>
			<label for="apellidos">Apellidos:&nbsp;&nbsp;</label>
			<input type="text" th:field="*{apellidos}"  required/>
			<br><br>
		</fieldset>
		<fieldset>
			<legend class="text-warning">Datos de Contacto</legend>
			<label for="telefono">Teléfono:&nbsp;&nbsp;</label><input type="text" th:field="*{telefono}"  required/>
			<label for="movil">Móvil:&nbsp;&nbsp;</label><input type="text" th:field="*{movil}" />
			<label for="direccion">Dirección:&nbsp;&nbsp;</label><input type="text" th:field="*{direccion}" /><br><br>
			<label for="localidad">Localidad:&nbsp;&nbsp;</label><input type="text" th:field="*{localidad}" />
			<label for="provincia">Provincia:&nbsp;&nbsp;</label><input type="text" th:field="*{provincia}" />
			<label for="codigoPostal">Código Postal:&nbsp;&nbsp;</label><input type="text" th:field="*{codigoPostal}" size="10px"/><br><br>
			<label for="pais">País:&nbsp;&nbsp;</label><input type="text" th:field="*{pais}" />
			<label for="email">Email:&nbsp;&nbsp;</label><input type="email" th:field="*{email}"  required/><br><br>
		</fieldset>
		<fieldset>
				<legend class="text-warning">Datos de Usuario</legend>
			<label for="usuario">Usuario:&nbsp;&nbsp;</label><input readonly type="text" th:field="*{usuario}" required />
			<label for="password">Contraseña:&nbsp;&nbsp;</label><input type="password" th:field="*{password}" id="pwd1" required/>
			<label>Repite la contraseña</label><input type="password" id="pwd2" required><label id="pwd"></label><br><br>
			<label for="isAdmin">Es administrador:&nbsp;&nbsp;</label><input type="hidden" th:field="*{Admin}" />
			<label for="fechaAlta">Fecha de alta:&nbsp;&nbsp;</label><input readonly type="date" th:field="*{fechaAlta}" /><br><br>
			<input type="submit" name="Enviar" value="Enviar datos" />
		</fieldset>
		
	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/contrasenyas.js"></script>
</body>
</html>